addDefaultCharset utf8;
#php_value date.timezone Europe/Kiev
RewriteEngine on
RewriteCond $1 !^(index\.php|app|webmail|roundcube|landing|robots\.txt|favicon\.png|favicon\.ico|files|politic.html|httploaders.txt|site|SQLyogTunnel\.php|test.php)
RewriteRule ^(.*)$ index.php?/$1 [L]
